@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";
@import "./colors.css";

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .center-col {
    @apply flex flex-col items-center justify-center;
  }

  .text-gradient {
    background: radial-gradient(circle, var(--primary), var(--ring));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .title-gradient {
    background: radial-gradient(circle, #813dff, #4033ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .secondarytext-gradient {
    background: radial-gradient(
      circle,
      var(--popover-foreground),
      var(--foreground)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .main-gradient {
    background: radial-gradient(
      circle,
      var(--primary-foreground),
      var(--primary)
    );
  }

  .secondary-gradient {
    background: radial-gradient(
      circle,
      var(--popover-foreground),
      var(--foreground)
    );
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    border-radius: 10px;
  }
}
